# --- CONFIGURACIÓN DE BASE DE DATOS ---
DB_URL=jdbc:postgresql://localhost:5432/hanechi_notebook
DB_USERNAME= postgres
DB_PASSWORD= # Contraseña de PostgreSQL

# --- SEGURIDAD ---
JWT_SECRET= # Clave secreta para los tokens JWT

# --- CONFIGURACIÓN DE CORREO (MFA) ---
MAIL_USERNAME= # Dirección de correo de Gmail
MAIL_PASSWORD= # Contraseña de aplicación de 16 caracteres
